* {
    box-sizing: border-box;
  }
  
  html, body {
    background-color: #eee;
    margin: 0;
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .center {
    align-self: center;
  }
  
  .flow-right {
    display: flex;
    justify-content: space-around;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
  }
  
  .title, .controls, .button {
    flex: none;
  }
  
  .button {
    padding: 10px 20px;
  }
  
  .todo-list {
    flex: 1 1 0;
    margin-top: 20px;
    padding: 20px;
    overflow-y: auto;
  }
  
  .todo-delete {
    margin: 10px;
  }
  
  .todo-checkbox {
    margin: 10px;
  }
  
  .todo-container {
    padding: 20px;
    border-bottom: 1px solid #333;
  }
  
  .todo-container:first-of-type {
    border-top: 1px solid #333;
  }

table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}
table thead th,
table tfoot th {
  color: #777;
  background: rgba(0,0,0,.1);
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
}